/* clear */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* base styles */

body {
  background: #c6f68d;
  font-family: Raleway, sans-serif;
}

.main-container {
  max-width: 75%;
  margin: 0 auto;
}

/* navbar */

nav {
  background: #008b00;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  position: sticky;
  top: 0;
  margin-bottom: 1.7rem;
  opacity: 0.98;
}

.logo-font {
  font-family: Norican;
}

.logo a {
  text-decoration: none;
  color: white;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 750px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

/* banner */
  .banner {
    overflow: hidden;
  }

  .banner img {
    max-width: 100%;
  }
/* about */

/* menu */

.menu {
  /* border: 1px yellow solid; */
  max-width: 75%;
  margin: 0 auto;
  background: #f2fde4;
}

.menu-heading {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: .1rem;
}

.menu-description {
  font-size: 1.7rem;
  margin-bottom: .8rem;
}

.menu-section-title {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  text-decoration: underline;
}

.menu-section {
  /* border: 1px blue solid; */
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.menu-heading,
.menu-description,
.menu-section-title,
.extra {
  text-align: center;
}

.menu-items {
  /* border: 1px red solid; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.menu-item {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-bottom: .8rem;
  margin-left: 20%;
  margin-right: 20%;
}

.item {
  width: 20% - 10px;
  margin-bottom: 5px;
}

/* location */

/* footer */

footer {
  background: #008b00;
  padding: 1.5rem 0;
  text-align: center;
}

/* media queries */

@media only screen and (max-width: 980px) {
  .menu {
    max-width: 100%;
  }

  .menu-items {
    /* border: 1px red solid; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  nav {
    flex-direction: column;
  }

  .logo {
    margin-bottom: .75rem;
  }

  nav ul li {
    margin-bottom: .5rem;
  }
}

@media only screen and (max-width: 650px) {
  .menu {
    max-width: 100%;
  }

  .menu-items {
    /* border: 1px red solid; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  nav {
    flex-direction: column;
    position: static;
  }

  nav ul {
    flex-direction: column;
    width: auto;
    text-align: center;
  }

  .logo {
    margin-bottom: .75rem;
  }

  nav ul li {
    margin-bottom: .5rem;
  }
}

@media only screen and (max-width: 480px) {

  .menu {
    max-width: 100%;
  }

  .menu-items {
    /* border: 1px red solid; */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  nav {
    flex-direction: column;
    position: static;
  }

  nav ul {
    flex-direction: column;
    width: auto;
    text-align: center;
  }

  .logo {
    margin-bottom: .75rem;
  }

  nav ul li {
    margin-bottom: .5rem;
  }
  
}