/* clear */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* base styles */

html {
  scroll-behavior: smooth;
}

body {
  background: #c6f68d;
  font-family: Raleway, sans-serif;
}

.main-container {
  max-width: 75%;
  margin: 0 auto;
}

.scrollfix {
  padding-top: 70px;
  margin-top: -70px;
}

/* navbar */

nav {
  background: #008b00;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: sticky;
  top: 0;
  opacity: 0.98;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.logo-font {
  font-family: Norican;
}

.logo a {
  text-decoration: none;
  color: white;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  width: 750px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  color: #f1f1f1;
}

/* banner */
  .banner {
    height: 100vh;
    max-width: 100%;
    background: url('https://images.unsplash.com/photo-1565475783696-96001eff1b45?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
  }
/* about */

/* menu */

.menu {
  max-width: 75%;
  margin: 0 auto;
  background: #f2fde4;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu-heading {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: .1rem;
}

.menu-description {
  font-size: 1.7rem;
  margin-bottom: .8rem;
}

.menu-section-title {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  text-decoration: underline;
}

.menu-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.menu-heading,
.menu-description,
.menu-section-title,
.extra {
  text-align: center;
}

.menu-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.menu-item {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-bottom: .8rem;
  margin-left: 20%;
  margin-right: 20%;
}

.item {
  width: 20% - 10px;
  margin-bottom: 5px;
}

/* location */
.location {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

/* footer */

footer {
  background: #008b00;
  padding: 1.5rem 0;
  text-align: center;
}

/* media queries */

@media only screen and (max-width: 980px) {

  .scrollfix {
    padding-top: 110px;
    margin-top: -110px;
  }

  .menu {
    max-width: 100%;
  }

  .menu-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  nav {
    flex-direction: column;
  }

  .logo {
    margin-bottom: .75rem;
  }

  nav ul li {
    margin-bottom: .5rem;
  }
}

@media only screen and (max-width: 650px) {

  .scrollfix {
    margin-top: 0;
    padding-top: 0;
  }

  .menu {
    max-width: 100%;
  }

  .menu-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  nav {
    flex-direction: column;
    position: static;
  }

  nav ul {
    flex-direction: column;
    width: auto;
    text-align: center;
  }

  .logo {
    margin-bottom: .75rem;
  }

  nav ul li {
    margin-bottom: .5rem;
  }
}

@media only screen and (max-width: 480px) {

  .scrollfix {
    margin-top: 0;
    padding-top: 0;
  }

  .menu {
    max-width: 100%;
  }

  .menu-items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  nav {
    flex-direction: column;
    position: static;
  }

  nav ul {
    flex-direction: column;
    width: auto;
    text-align: center;
  }

  .logo {
    margin-bottom: .75rem;
  }

  nav ul li {
    margin-bottom: .5rem;
  }
}